In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

In [2]:
#Establish connection 
connection=connector.connect(user="root", password = "SARAbnd92,")

In [5]:
from mysql.connector.pooling import MySQLConnectionPool

In [6]:
dbconfig={"database":"little_lemon_store", "user":"root", "password":"SARAbnd92,"}
try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                               pool_size=3,
                               **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)

except Error as er:
    print("Error code:", er.errno)

The connection pool is created with a name:  pool_b

In [7]:
print("Getting a connection from the pool.")
connection2 = pool.get_connection()

Getting a connection from the pool.

In [8]:
print("Creating a cursor obj")
cursor = connection2.cursor()

Creating a cursor obj

In [9]:
# Stored procedure name >> PeakHours
# Our stored procedure query is
stored_procedure_query="""
CREATE PROCEDURE AddBookings()
BEGIN
INSERT INTO Bookings (BookingID,EmployeeID, TableNo, Bookingslot)
VALUES(13, 4, 3, 15:30:10);
SELECT 'New booking has been added' AS Confirmation;
END
"""

In [10]:
# Execute the query
cursor.execute(stored_procedure_query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':30:10);
SELECT 'New booking has been added' AS Confirmation;
END' at line 4

In [18]:
#Call the stored procedure with its name
cursor.callproc("AddBookings")

()

In [19]:
# Retreve recrods in "dataset"
dataset = results.fetchall()

NameError: name 'results' is not defined

In [20]:
# Retrieve column names
cols = cursor.column_names
print(cols)
for result in results:
    print(result)

()

NameError: name 'results' is not defined

In [21]:
# Print column names
print(columns)

NameError: name 'columns' is not defined

In [ ]:
connection.close()